/*** set the width and height to match your images **/

#slideshow {
    height:730px;
    position: absolute;
    margin: 10px 0px 0px 0px;
    *margin: 0px 0px 0px 0px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}